################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/packages
/packages
/packages
/packages/Allegro.5.2.2.1
/.vs/InfWMed/v15
/.vs/InfWMed/v15
/.vs/InfWMed/v15
/.vs/InfWMed/v15
/InfWMed/healthy
/InfWMed/healthy_fovmask
/InfWMed/healthy_manualsegm
/InfWMed/healthy
/InfWMed/healthy_fovmask
/InfWMed/healthy_manualsegm
