################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/Release
/x64
/packages
/.vs
/InfWMed/healthy
/InfWMed/healthy_fovmask
/InfWMed/healthy_manualsegm
/InfWMed/InfWMed.vcxproj
/InfWMed/InfWMed.vcxproj.filters
/InfWMed/InfWMed.vcxproj.user
/InfWMed/Debug
/InfWMed/Release
/InfWMed/x64
InfWMed.sln
InfWMed.VC.db
*.jpg
*.txt
*.bmp
*.png
